@font-face {
  font-family: "Minecraft";
  src: url("./mac's Minecraft.otf") format("opentype");
}

* {
  box-sizing: border-box;
  user-select: none;
  font-family: Minecraft;
}

body {
  margin: 0;
}

crafting-grid,
inventory-grid {
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
}

inventory-cell,
crafting-output {
  width: 16px;
  height: 16px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:has(> inventory-item) {
    cursor: grab;
  }
}

crafting-grid {
  left: 62px;
  top: 22px;
  grid-template: repeat(3, 18px) / repeat(3, 18px);
}

crafting-output {
  position: absolute;
  left: 157px;
  top: 41px;
}

inventory-grid {
  left: 12px;
  top: 94px;
  grid-template: repeat(3, 18px) / repeat(12, 18px);
}

inventory-item {
  position: relative;

  & > data {
    position: absolute;
    font-size: 7.7px;
    color: #fcfcfc;
    text-shadow: #3e3e3e 1px 1px;
    bottom: 0;
    width: 16px;
    text-align: end;
    text-rendering: geometricPrecision;
    translate: 0.9px -2.1px;
  }
  
  &::before {
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background-size: 16px 16px;
  }
}

img {
  pointer-events: none;
}
